ul {
  padding-left: 0;
}
ul, li {
  list-style-type: none;
}

button, input {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}